html,
body
{
  margin: 0;
  padding: 0;
}

body
{
  font: 16px/1.4 Helvetica, Arial, sans-serif;
}

:link:hover,
:visited:hover
{
  color:red!important
}

:link
{
  color: #00c;

  transition: color .15s ease-out;
}

.message
{
  width: 600px;
  margin: 100px auto 0;
}

  .message__text
  {
    margin-bottom: 50px;
  }

  .message__text p
  {
    margin: 0 0 25px;
  }

.social
{
  margin: 0;
  padding: 0;

  list-style-type: none;

  text-align: center;
}

  .social__item
  {
    display: inline;

    margin: 0 5px;
    padding: 0;

    vertical-align: middle;
  }

  .social__icon
  {
    vertical-align: middle;

    transition: fill .25s ease-out;
  }

  .social__link:hover .social__icon
  {
    fill: #f00;
  }
